# Banking Data

<a id="cont"></a>

### Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading the Data</a>

<a href=#three>3. Data Cleaning & Preprocessing</a>

<a href=#four>4. Exploratory Data Analysis</a>

<a href=#five>5. Hypothesis Testing</a>

<a href=#six>6. Recommendation</a>

### 1. Importing Packages
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

In [1]:
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 
import numpy as np 
from scipy import stats
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
sns.set_theme(style="whitegrid")

In [2]:
import os

In [4]:
print(os.listdir(os.getcwd()))

['.ipynb_checkpoints', 'Data', 'Deliverables.pdf', 'Week 8.ipynb']

### 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

In [32]:
bank_old = pd.read_csv('Data/bank.csv')
bank_full_old = pd.read_csv('Data/bank-full.csv')
bank_sample = pd.read_csv('Data/bank-additional.csv')
bank_df = pd.read_csv('Data/bank-additional-full.csv')

### 3. Basic Data Exploration
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

### 1 - bank_sample
Bank_sample is a random 10% sample of bank_df.

In [35]:
bank_sample.head(3)

  age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0  30;"blue-collar";"married";"basic.9y";"no";"ye...
1  39;"services";"single";"high.school";"no";"no"...
2  25;"services";"married";"high.school";"no";"ye...